.Workout_day_Widget{
	margin:20px 0px !important;
}
.lpbcArchive ul li:before {
	content: "";
}

li.lpbcLinkLove {
	padding: 3px 0 !important;
	text-align: center !important;
}
.Workout_day_Widget{
background:#fff url(wid_logo.gif) no-repeat scroll 0 0 !important;
border-color:#BDC2C8 !important;
border-style:none solid !important;
border-width:0 1px !important;
width:233px !important;
}

.Workout_day_Widget div{
	/* text-align:left !important; */
	font-weight:normal !important;
	margin-bottom:0 !important;
}
.logo_wid{
}
.Workout_day_wid_bott{
	background:transparent url(bottom_wid.gif) no-repeat scroll 0 0 !important;
	height:16px !important;
	left:-1px !important;
	position:relative !important;
	width:236px !important;
	top: 11px !important;
	margin-right:-3px !important;
	margin-top: -11px !important;
}
.Workout_day_wid_bott span{
	font-size:8pt !important;
	margin:0 7px !important;
	position:relative !important;
}
.Workout_day_wid_bott span a{
text-decoration:underline !important;
}
.Workout_day_wid_bott span  a:hover{
text-decoration:none !important;
}

.workout_day_WidgetPost a{
	color:#0062c7 !important;
	line-height:19px !important;
	font-family:arial !important;
	font-size:11.25pt !important;
	font-weight:bold !important;
	text-decoration:none !important;
}
.workout_day_WidgetPost{
	font-family:arial !important;
	font-size:9pt !important;
	margin-bottom:1px !important;
	/* margin-bottom:1px !important;
	padding-bottom:7px !important; */
	line-height:14px !important;
	color: #383838 !important;
	height:130px !important; 
}
.workout_day_WidgetPost_top{
	margin-bottom:5px !important;
}

.workout_WidgetPostTitle:hover{
	background:none !important;
}
.workout_day_bot_text{
	font-family:arial !important;
	font-size:8.25pt !important;
	color: #6e6e6e !important;
	position:relative !important;
	top:4px !important;
	z-index:1 !important;
	/* border-top:1px solid #E7E7E7 !important; */
	/* padding-top:8px !important; */
}

.Workout_day_Widget a, .Workout_day_Widget a:hover, .Workout_day_Widget a:link{
	color:#0062c7 !important;
}

.workout_day_WidgetPost_wrap{
	margin-bottom:0px !important;
}
.workout_day_WidgetPost_desc{
	float:left !important;
	width:135px !important;
	margin-top:5px !important;
}
.workout_day_WidgetPost_imag{
	width:75px !important;
	height:75px !important;
	float:left !important;
	margin-right:8px !important;
	margin-top:5px !important;
	/* border:1px solid !important; */
}

.workout_day_WidgetPost_top{
	width:220px !important;
	margin-top:5px !important;
	float:left !important;
}
.workout_day{
	width:220px !important;
	margin: 35px 6px 0px 7px !important;
	clear:right !important;
}
.workout_day_WidgetPost a,.workout_day_WidgetPost_imag a:hover, .workout_day_WidgetPost_imag a, .workout_day_WidgetPost_imag:hover{
	text-decoration:none !important;
	border:none !important;
}
.workout_WidgetPostTitle{position:relative !important;}
.workout_WidgetPostTitle:hover{
	border-bottom:1px solid #0062c7 !important;
}

.workout_day_WidgetMore{
	float:right !important;
	/* margin-top:8px; */
	text-align:right !important;
	width:220px !important;
	padding-bottom:3px !important;
	border-bottom:1px solid #E7E7E7 !important;
	font-size: 8.25pt !important;
	font-weight: normal !important;
	position:relative !important;
	z-index:10 !important;
}

.workout_day_bot_text a, .workout_day_WidgetMore a{
	font-size: 8.25pt !important;
	text-decoration:underline !important;
	font-weight: normal !important;
	color: #0062C7 !important;
}
.workout_day_WidgetMore a{
	position:relative !important;
	top:-5px !important;
}
.workout_day_bot_text a:hover, .workout_day_WidgetMore a:hover{
	text-decoration:none !important;
	border:none !important;
	color: #0062C7 !important;
	background:none !important;
}
.workout_day_WidgetMore:hover{
	text-decoration:none !important;
}